<?xml version="1.0"?>
<model>
  <name>human</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Hari Aswath</name>
    <email>hariaswath@todo.todo</email>
  </author>
  <description>
    Simulated human shopper model for SmartCart simulation
  </description>
</model>
